.cart {
    width: 80%;
    min-height: 500px;
    background-color: white;
    margin: 10px auto;
    height: max-content;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cart_heading{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
}
.cart_items{
    padding: 10px;
}
.subtotal{
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.subtotal div{
    margin-left: 10px
}

.emptybasket{
    height: 100%;
}

.proceed_to_checkout{
    width: 80%;
    min-height: 80px;
    height: max-content;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout{
    width: 250px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: #e40046;
    border: none;
}
.checkout:hover{
    background: #980a35;
}
.checkout_form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.checkout_form input{
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    color: gray;
    border-radius: 5px;
}

.pay{
    color: black;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.pay:hover{
   background-color: rgb(203, 213, 221);
}