.mycard {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.mycard:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.product_image {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mycard img {
    height: 250px;
    object-fit: contain;
}

.product_description {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.product_description p,
.price span {
    color: gray;
    font-size: 1rem;
}