.login{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.login_popup{
    width: 23%;
    height: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
.login_popup h1{
    font-size: 30px;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
.login_popup p{
    font-size: 15px;
    color: #333;
    line-height: 17px; 
    text-align: center; 
}

.login_popup input{
    padding: 9px 10px;
    width: 70%;
    border-width: 1px;
    border: 1px solid #d2d2d2;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(158, 191, 191);
}
.login_popup .continue{
    background: #e40046;
    width: 70%;
    padding: 10px;
    color: white;
    font-size: 1rem;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 auto;
}
.login_popup span{
   color: gray;
   text-align: center;
}
.google_login{
    width: 50%;
    padding: 10px 10px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0 auto;
}

